#  Local .terraform directories - Arch
**/.terraform/*
**/darwin_amd64/*
.terraform.lock.hcl

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# Ansible retry files
*.retry

# Install files
*.gz
*.tar
*.zip

# Creds files
*creds*

# keys and certs files
*.pem
*.crt
*.key
*.p12

# Others
.DS_Store

