#  Local .terraform directories - Arch
**/.terraform/*
**/darwin_amd64/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# Ansible retry files
*.retry

# Install files
*.gz
*.tar
*.zip

# Creds files
*creds*
