/home/centos/controller-installer/install.sh --database-host {{ hostvars['localhost']['rds_endpoint'] }} --database-port 5432 --database-user {{ rds_user }} --database-password {{ rds_pass }} --admin-firstname {{ nginx_fname }} --admin-lastname {{ nginx_sname }} --admin-email {{ nginx_email }} --admin-password {{ nginx_pass }} --organization-name f5 --auto-install-docker --tsdb-volume-type local --accept-license --smtp-host email-smtp.us-east-1.amazonaws.com --smtp-port 25 --smtp-authentication true --smtp-use-tls true --smtp-user {{ ses_smtp_user }} --smtp-password {{ ses_smtp_pass }} --noreply-address {{ nginx_noreply_email }} --fqdn {{ inventory_hostname }} --self-signed-cert --auto-install-docker